
@{
    ViewData["Title"] = "ספק לא נמצא";
}
<div class='page_title_container'>
    <h2 class='page_title'>אופס הספק לא נמצא</h2>
</div>
<div class="row">
    <div class='col-lg-offset-5 col-lg-2'>
        <a class="underlineHover-Login green-text" href="/Suppliers">בחזרה למסך הספקים</a>
    </div>
</div>