.page-title {
    font-weight: bold;
    display: inline-block;
}

.create-btn {
    display: inline-block;
    border: none;
}

.btn-p {
    display: inline-block;
    font-weight: bold;
}

.btn-span {
    display: inline-block;
}

.my-thumbnail {
    min-height: 280px;
    background-color: #cccccc75;
    border-radius: 25px;
}

.trans-btn {
    display: inline-block;
    float: left;
    margin: 10px;
    border: none;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.item-name {
    font-weight: bold;
}

.item-image {
    min-height: 150px;
}

.supplier-pic{
    float:right;
    margin-left:15px;
}

.item-products {
    min-height: 200px;
    overflow-y: scroll;
}