
@{
    ViewData["Title"] = "מוצר לא נמצא";
}
<div class='page_title_container'>
    <h2 class='page_title'>אופס המוצר לא נמצא</h2>
</div>
<div class="row">
    <div class='col-lg-offset-5 col-lg-2'>
        <a class="underlineHover-Login green-text" href="/Products">בחזרה למסך המוצרים</a>
    </div>
</div>